<div id="profile">

</div>

<div class="step">
	<div class="num">1</div>
	<p><a href="/auth/twitter">Login</a> with Twitter</p>
</div>
<div class="step">
	<div class="num">2</div>
	<p>Upload your .html file</p>
</div>
<div class="step">
	<div class="num">3</div>
	<p>Name your game</p>
</div>

