<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>philome.la</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="header"><a href="/">philome.la</a>: free twine hosting</div>

      <div id="container">
        <%= yield %>
      </div>
    </div>

    <div id="footer">
      <% if username %>
        logged in as <%= username_link %></a> &bull; <a href="/">publish a new game</a> &bull; <a href="/manage">manage your games</a> &bull; <a href="/logout">log out</a><br/>
      <% end %>
      built by <a href="http://twitter.com/colinmarc">@colinmarc</a>
      with help from <a href="http://twitter.com/trucy">@trucy</a>.
      If you have any issues, email
      <a href="mailto:colinmarc@gmail.com?Subject=HALP" target="_blank">colinmarc@gmail.com</a>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="/js/vendor/jquery.oauthpopup.js"></script>
    <script src="/js/vendor/jquery.filedrop.js"></script>

    <script src="/js/main.js"></script>

    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
