<div id="step-one" class="step<% if username; %> completed<% end %>">
  <div class="num">1</div>
  <p>
  <% if username %>
    Login with Twitter<br/>
    (you are logged in as <%= username_link %>)
  <% else %>
    <a id="twitter-login">Login</a> with Twitter<br/>
  <% end %>
  </p>
</div>

<div id="step-two" class="step<% if uploaded_filename; %> completed<% end %>">
  <div class="num">2</div>
  <p>Upload your built .html file</p>
  <div id="drop-area" class="<% if uploaded_filename; %>uploaded<% end %>">
    <p id="drop-area-text">
      <% if uploaded_filename %>
        <%= "#{uploaded_filename} (#{uploaded_filesize})" %>
      <% else %>
        Drop your file here
      <% end %>
    </p>
  </div>
</div>

<div id="step-three" class="step">
  <div class="num">3</div>
  <p>Name your game</p>
  <form id="publish-form" action="/publish" method="POST">
    <p><input id="publish-name" type="text" name="name" maxlength="50" autocomplete="off"/></p>
    <input id="publish-tweet" type="hidden" name="tweet" value="yes"/>
  </form>

  <a id="publish-submit">Publish!</a>
  <div id="publish-tweet-question">
    <a href="javascript:void" id="publish-tweet-checkbox" class="checked">☑</a> announce my game on <a href="https://twitter.com/philomela_twine">@philomela_twine</a>
  </div>
  <% if @error %>
    <div id="publish-error"><%= @error %>
  <% end %>
</div>
